#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 
.what_i_wrote {
  margin: 45px 0px 0px 0px;
}

.social_links a {
  padding: 5px;
  margin: 0px 10px;
  position: relative;
  color: rgb(175, 139, 210);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

.social_links a:hover {
  background-size: 100% 2px; /* Expand underline to full width */
}

.skills img {
  margin: 0px 8px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skills img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 20px rgb(175, 139, 210));
}
