.header__header {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #282c34;
    color: white;
    z-index: 2;

    padding: 0 20px;
}

.header__header a {
    text-decoration: none;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 20px; /* spacing between MyBlog and Posts */
}

.header__nav-left {
    display: flex;
    gap: 15px;
    margin-left: 20px
}

.header__right {
    display: flex;
    align-items: center;
    margin-right: 40px
}

.dropdown-container {
  position: relative;
  cursor: pointer;
}

.dropdown-box {
  overflow: hidden;
  overflow-y: auto;

  position: absolute;
  top: 33px;

  left: 0;
  margin-top: 10px;

  width: 150px;
  height: 200px;  

  background-color: #282c34;
  border: 1px solid white;
  cursor: default; /* So the text inside the dropdown gets the default cursor */
}
